<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<div class="rainier-notice">
    <strong>Note:</strong> All fields are required unless otherwise noted.
</div>

<%- messages() %>

<% if (errors) { %>
    <div class="error-banner">
        <h3>Please correct the following errors:</h3>
        <ul>
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<form id="form" action="/orders/confirmRainier" method="post">
    <div class="container">
        <label class="required-field"><b>Customer First Name</b>
            <input type="text" name="customer_firstname" id="customer_firstname" value="<%= formData.customer_firstname || '' %>" placeholder="Enter customer first name" required <%= errors && errors.array().find(e => e.path === 'customer_firstname') ? 'class="error-input"' : '' %>>
            <% if (errors) { const error = errors.array().find(e => e.path === 'customer_firstname'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Customer Last Name</b>
            <input type="text" name="customer_lastname" id="customer_lastname" value="<%= formData.customer_lastname || '' %>" placeholder="Enter customer last name" required <%= errors && errors.array().find(e => e.path === 'customer_lastname') ? 'class="error-input"' : '' %>>
            <% if (errors) { const error = errors.array().find(e => e.path === 'customer_lastname'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Placement</b>
            <select name="rainier_placement" id="rainier_placement" required <%= errors && errors.array().find(e => e.path === 'rainier_placement') ? 'class="error-input"' : '' %>>
                <option value="">Select Placement</option>
                <% if (rainierPlacements && rainierPlacements.length > 0) { %>
                    <% rainierPlacements.forEach(function(item) { %>
                        <option value="<%= item.placement_name %>" <%= formData.rainier_placement === item.placement_name ? 'selected' : '' %>><%= item.placement_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'rainier_placement'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Hardware Color</b>
            <select name="rainier_color" id="">
                <option value="">Select</option>
                <% colors.forEach(item => { %>
                    <option value="<%= item.color_name %>"><%= item.color_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'hardware_color'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Fabric & Color</b>
            <select name="fabric_color" id="fabric_color" required <%= errors && errors.array().find(e => e.path === 'fabric_color') ? 'class="error-input"' : '' %>>
                <option value="">Select Fabric & Color</option>
                <% if (rainierFabricColors && rainierFabricColors.length > 0) { %>
                    <% rainierFabricColors.forEach(function(item) { %>
                        <option value="<%= item.fabric_name %>" <%= formData.fabric_color === item.fabric_name ? 'selected' : '' %>><%= item.fabric_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'fabric_color'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Housing Series</b>
            <select name="housing_series" id="">
                <option value="">Select</option>
                <% housing.forEach(item => { %>
                    <option value="<%= item.housing_series_name %>"><%= item.housing_series_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'housing_series'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Drive Side</b>
            <select name="drive_side" id="">
                <option value="">Select</option>
                <% driveSide.forEach(item => { %>
                    <option value="<%= item.drive_side_name %>"><%= item.drive_side_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'drive_side'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Hembar</b>
            <select name="hembar_name" id="">
                <option value="">Select</option>
                <% hembar.forEach(item => { %>
                    <option value="<%= item.hembar_name %>"><%= item.hembar_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'hembar_name'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Pile Brush</b> 
            <select name="pile_brush" id="">
                <option value="">Select</option>
                <% pilebrush.forEach(item => { %>
                    <option value="<%= item.pilebrush_name %>"><%= item.pilebrush_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'pile_brush'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Brush Location</b>
            <select name="brush_location" id="">
                <option value="">Select</option>
                <% brushLocation.forEach(item => { %>
                    <option value="<%= item.brush_location_name %>"><%= item.brush_location_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'brush_location'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Zipper Color</b>
            <select name="zipper_color" id="">
                <option value="">Select</option>
                <% zipperColor.forEach(item => { %>
                    <option value="<%= item.color_name %>"><%= item.color_name%></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'zipper_color'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Cord Length</b>
            <select name="cord_length" id="">
                <option value="">Select</option>
                <% cordLength.forEach(item => { %>
                    <option value="<%= item.cord_length_name %>"><%= item.cord_length_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'cord_length'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Mount Type</b>
            <select name="mount_type" id="mount_type_id">
                <option value="">Select</option>
                <% mountTypes.forEach(item => { %>
                    <option value="<%= item.mount_type_name %>"><%= item.mount_type_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'mount_type'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Top Opening Width</b>
            <input type="text" name="top_opening_width" id="">
        </label><br>
        <label><b>Top Opening Width Inch</b>
            <select name="top_opening_width_inch" id="top_opening_width_id">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'top_opening_width'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Top Level</b>
            <input type="text" name="top_level" id="">
        </label><br>
        <label><b>Bottom Opening Width</b>
            <input type="text" name="bottom_opening_width" id="bottom_opening_width_id">
        </label><br>
        <label><b>Bottom Opening Width Inch</b>
            <select name="bottom_opening_width_inch" id="">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'top_opening_width_fraction'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Bottom Level</b>
            <input type="text" name="bottom_level" id="">
        </label><br>
        <label><b>Left Opening Height</b>
            <input type="text" name="left_opening_height" id="">
        </label><br>
        <label><b>Left Opening Height Inch</b>
            <select name="left_opening_height_inch" id="">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'top_level'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Left Plumb</b>
            <input type="text" name="left_plumb" id="">
        </label><br>
        <label><b>Right Opening Height</b>
            <input type="text" name="right_opening_height" id="">
        </label><br>
        <label><b>Right Opening Height Inch</b>
            <select name="right_opening_height_inch" id="">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'bottom_opening_width'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Right Plumb</b>
            <input type="text" name="right_plumb" id="">
        </label><br>
        <label><b>Left Build Out</b>
            <select name="left_build_out" id="">
                <option value="None">Select</option>
                <% leftBuildout.forEach(item => { %>
                    <option value="<%= item.left_buildout_name %>"><%= item.left_buildout_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'bottom_opening_width_fraction'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Right Build Out</b>
            <select name="right_build_out" id="">
                <option value="None">Select</option>
                <% rightBuildout.forEach(item => { %>
                    <option value="<%= item.right_buildout_name %>"><%= item.right_buildout_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'bottom_level'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Add Build Out</b>
            <input type="text" name="add_build_out" id="">
        </label><br>
        <label><b>Left Track</b>
            <select name="left_track" id="">
                <option value="None">Select</option>
                <% leftTrack.forEach(item => { %>
                    <option value="<%= item.left_track_name %>"><%= item.left_track_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'left_opening_height'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label><b>Right Track</b>
            <select name="right_track" id="">
                <option value="None">Select</option>
                <% rightTrack.forEach(item => { %>
                    <option value="<%= item.right_track_name %>"><%= item.right_track_name %></option>
                <% }) %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'left_opening_height_fraction'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Left Plumb</b>
            <select name="left_plumb" id="left_plumb" required <%= errors && errors.array().find(e => e.path === 'left_plumb') ? 'class="error-input"' : '' %>>
                <option value="">Select Left Plumb</option>
                <% if (leftPlumbs && leftPlumbs.length > 0) { %>
                    <% leftPlumbs.forEach(function(item) { %>
                        <option value="<%= item.left_plumb_name %>" <%= formData.left_plumb === item.left_plumb_name ? 'selected' : '' %>><%= item.left_plumb_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'left_plumb'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Right Opening Height</b>
            <select name="right_opening_height" id="right_opening_height" required <%= errors && errors.array().find(e => e.path === 'right_opening_height') ? 'class="error-input"' : '' %>>
                <option value="">Select Right Opening Height</option>
                <% if (rightOpeningHeights && rightOpeningHeights.length > 0) { %>
                    <% rightOpeningHeights.forEach(function(item) { %>
                        <option value="<%= item.right_opening_height_name %>" <%= formData.right_opening_height === item.right_opening_height_name ? 'selected' : '' %>><%= item.right_opening_height_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'right_opening_height'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        <label class="required-field"><b>Right Opening Height Fraction</b>
            <select name="right_opening_height_fraction" id="right_opening_height_fraction" required <%= errors && errors.array().find(e => e.path === 'right_opening_height_fraction') ? 'class="error-input"' : '' %>>
                <option value="">Select Fraction</option>
                <% if (fractions && fractions.length > 0) { %>
                    <% fractions.forEach(function(fraction) { %>
                        <option value="<%= fraction.measurement_name %>" <%= formData.right_opening_height_fraction === fraction.measurement_name ? 'selected' : '' %>><%= fraction.measurement_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'right_opening_height_fraction'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Right Plumb</b>
            <select name="right_plumb" id="right_plumb" required <%= errors && errors.array().find(e => e.path === 'right_plumb') ? 'class="error-input"' : '' %>>
                <option value="">Select Right Plumb</option>
                <% if (rightPlumbs && rightPlumbs.length > 0) { %>
                    <% rightPlumbs.forEach(function(item) { %>
                        <option value="<%= item.right_plumb_name %>" <%= formData.right_plumb === item.right_plumb_name ? 'selected' : '' %>><%= item.right_plumb_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'right_plumb'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Left Build Out</b>
            <select name="left_build_out" id="left_build_out" required <%= errors && errors.array().find(e => e.path === 'left_build_out') ? 'class="error-input"' : '' %>>
                <option value="">Select Left Build Out</option>
                <% if (leftBuildouts && leftBuildouts.length > 0) { %>
                    <% leftBuildouts.forEach(function(item) { %>
                        <option value="<%= item.left_buildout_name %>" <%= formData.left_build_out === item.left_buildout_name ? 'selected' : '' %>><%= item.left_buildout_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'left_build_out'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Right Build Out</b>
            <select name="right_build_out" id="right_build_out" required <%= errors && errors.array().find(e => e.path === 'right_build_out') ? 'class="error-input"' : '' %>>
                <option value="">Select Right Build Out</option>
                <% if (rightBuildouts && rightBuildouts.length > 0) { %>
                    <% rightBuildouts.forEach(function(item) { %>
                        <option value="<%= item.right_buildout_name %>" <%= formData.right_build_out === item.right_buildout_name ? 'selected' : '' %>><%= item.right_buildout_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'right_build_out'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Add Build Out</b>
            <select name="add_build_out" id="add_build_out" required <%= errors && errors.array().find(e => e.path === 'add_build_out') ? 'class="error-input"' : '' %>>
                <option value="">Select Add Build Out</option>
                <% if (addBuildouts && addBuildouts.length > 0) { %>
                    <% addBuildouts.forEach(function(item) { %>
                        <option value="<%= item.buildout_name %>" <%= formData.add_build_out === item.buildout_name ? 'selected' : '' %>><%= item.buildout_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'add_build_out'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Left Track</b>
            <select name="left_track" id="left_track" required <%= errors && errors.array().find(e => e.path === 'left_track') ? 'class="error-input"' : '' %>>
                <option value="">Select Left Track</option>
                <% if (leftTracks && leftTracks.length > 0) { %>
                    <% leftTracks.forEach(function(item) { %>
                        <option value="<%= item.left_track_name %>" <%= formData.left_track === item.left_track_name ? 'selected' : '' %>><%= item.left_track_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'left_track'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Right Track</b>
            <select name="right_track" id="right_track" required <%= errors && errors.array().find(e => e.path === 'right_track') ? 'class="error-input"' : '' %>>
                <option value="">Select Right Track</option>
                <% if (tracks && tracks.length > 0) { %>
                    <% tracks.forEach(function(item) { %>
                        <option value="<%= item.right_track_name %>" <%= formData.right_track === item.right_track_name ? 'selected' : '' %>><%= item.right_track_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'right_track'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>

        <label class="required-field"><b>Starting Point</b>
            <select name="starting_point" id="starting_point" required <%= errors && errors.array().find(e => e.path === 'starting_point') ? 'class="error-input"' : '' %>>
                <option value="">Select Starting Point</option>
                <% if (startingPoints && startingPoints.length > 0) { %>
                    <% startingPoints.forEach(function(item) { %>
                        <option value="<%= item.starting_point_name %>" <%= formData.starting_point === item.starting_point_name ? 'selected' : '' %>><%= item.starting_point_name %></option>
                    <% }); %>
                <% } %>
            </select>
            <% if (errors) { const error = errors.array().find(e => e.path === 'starting_point'); if (error) { %><span class="error-message"><%= error.msg %></span><% }} %>
        </label><br>
        
        <div class="form-actions">
            <button type="submit" class="btn-primary">Submit Order</button>
            <button type="button" id="clearFormBtn" class="btn-secondary">Clear Form</button>
        </div>
    </div>
</form>

<script>
    // Load form data from localStorage when page loads (only if no server-side data exists)
    window.addEventListener('DOMContentLoaded', function() {
        // Check if there's server-side form data (from validation errors or session)
        const hasServerData = "<%= Object.keys(formData || {}).length > 0 ? 'true' : 'false' %>";

        // Only load from localStorage if there's no server-side data
        if (hasServerData === 'false') {
            const savedData = localStorage.getItem('rainierFormData');
            if (savedData) {
                const formObject = JSON.parse(savedData);
                Object.keys(formObject).forEach(key => {
                    const element = document.querySelector(`[name="${key}"]`);
                    if (element) {
                        element.value = formObject[key];
                    }
                });
                console.log('Form data loaded from localStorage');
            }
        }
    });

    // Save form data to localStorage when form is submitted
    document.getElementById('form').addEventListener('submit', function(event) {
        // Save form data before showing confirmation
        const formData = new FormData(this);
        const formObject = {};

        formData.forEach((value, key) => {
            formObject[key] = value;
        });

        localStorage.setItem('rainierFormData', JSON.stringify(formObject));
        console.log('Form data saved to localStorage');

        // Show confirmation popup
        const confirmed = confirm('Are you sure you want to submit this form? Please review all fields before proceeding.');
        if (!confirmed) {
            event.preventDefault();
        }
    });

    // Clear form button functionality
    document.getElementById('clearFormBtn').addEventListener('click', function() {
        const confirmed = confirm('Are you sure you want to clear all form data? This will reset the entire form and remove saved data.');
        if (confirmed) {
            // Clear localStorage
            localStorage.removeItem('rainierFormData');
            
            // Reset form
            document.getElementById('form').reset();
            
            // Reload page to clear any server-side values
            window.location.href = window.location.pathname;
        }
    });
</script>