<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
        <% if (errors) { %>
            <ul id="errorList" class="notice error">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

<%
// const fractions = ['1/16', '1/8', '3/16', '1/4', '5/16', '3/8', '7/16', '1/2', '9/16', '5/8', '11/16', '3/4', '13/16', '7/8', '15/16'];

// Define color options for reuse
const colors = [
    'Midnight Black', 'Slate Grey', 'Limen Cream', 'Rindeau Brown', 'Bronze', 'Sandalwood',
    'Tudor Brown', 'Polar White', 'Ex Pebble Grey', 'Hatford Green', 'Ansi 49 Grey', 'Almond',
    'Autumn Leaf', 'Burgundy', 'Charcoal', 'Dk Bronze Metallic', 'Evergreen', 'Furniture White',
    'Gloss Brown', 'Metro Brown', 'Mocha', 'Metallic Silver', 'Oyster Grey', 'Seal Beach Green',
    'Sundried Tomato', 'Signal White', 'Wicker', 'Charcoal/Black', 'Custom', 'White', 'Black',
    'Tan', 'CB', 'Mill', 'Bright White', 'Off White', 'Gray', 'Navajo', 'Desert Sand', 'Brown',
    'Green', 'Silver', 'Varies (Specify in Notes)', 'RAL (Specify in Notes)', 'Textured Dark Gray',
    'Textured Tan', 'Textured Copper Bronze', 'Textured Black', 'Textured Rust',
    'Textured Varies (Specify in Notes)', 'Dark Bronze', 'Dark Gray', 'Tobacco', 'Carbon',
    'Stone Texture', 'Shadow Texture', 'Sand', 'Expresso', 'Mushroom (Safari Cashmere)',
    'Quartz', 'Twill Tobacco', 'Twill Charcoal', 'Twill Black'
];
%>

<form id="form" action="" method="post">
    <div class="container">
        <label><b>Top Opening Width</b>
            <input type="text" name="top_opening_width" id="top_opening_width">
        </label><br>
        <label><b>Top Opening Width Fraction</b>
            <select name="top_opening_width_fraction" id="top_opening_width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name%>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Middle Opening Width</b>
            <input type="text" name="middle_opening_width" id="middle_opening_width">
        </label><br>
        <label><b>Middle Opening Width Fraction</b>
            <select name="middle_opening_width_fraction" id="middle_opening_width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Bottom Opening Width</b>
            <input type="text" name="bottom_opening_width" id="bottom_opening_width">
        </label><br>
        <label><b>Bottom Opening Width Fraction</b>
            <select name="bottom_opening_width_fraction" id="bottom_opening_width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Left Opening Height</b>
            <input type="text" name="left_opening_height" id="left_opening_height">
        </label><br>
        <label><b>Left Opening Height Fraction</b>
            <select name="left_opening_height_fraction" id="left_opening_height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Middle Opening Height</b>
            <input type="text" name="middle_opening_height" id="middle_opening_height">
        </label><br>
        <label><b>Middle Opening Height Fraction</b>
            <select name="middle_opening_height_fraction" id="middle_opening_height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Right Opening Height</b>
            <input type="text" name="right_opening_height" id="right_opening_height">
        </label><br>
        <label><b>Right Opening Height Fraction</b>
            <select name="right_opening_height_fraction" id="right_opening_height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Top Level</b>
            <input type="text" name="top_level" id="top_level">
        </label><br>

        <label><b>Bottom Level</b>
            <input type="text" name="bottom_level" id="bottom_level">
        </label><br>

        <label><b>Left Plumb</b>
            <input type="text" name="left_plumb" id="left_plumb">
        </label><br>

        <label><b>Right Plumb</b>
            <input type="text" name="right_plumb" id="right_plumb">
        </label><br>

        <label><b>Starting Point</b>
            <input type="text" name="starting_point" id="starting_point">
        </label><br>

        <!-- Single or Dbl to be placed here (create a table for specifically the mirages)-->

        <label><b>Mount</b>
            <input type="text" name="mount" id="mount">
        </label><br>
        <!-- in Vs Surface -->

        <!-- handing to be placed here (create a table for specifically the mirages)-->

        <label><b>Color</b>
            <select  name="color_name" id="color">
                <option value="">Select</option>
                <% colors.forEach(color => { %>
                    <option value="<%= color %>"><%= color %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Handle</b>
            <!-- I assume this is actually the mirage_3500_handle column in the mirage3500 table -->
            <select  name="handle" id="handle">
                <option value="">Select</option>
                <option value="Pivot Pro">Pivot Pro</option>
                <option value="Recessed">Recessed</option>
                <option value="Standard">Standard</option>
            </select>
        </label><br>

        <label><b>Handle Color</b>
            <select  maxlength="10" name="handle_color" id="handle_color">
                <option value="">Select</option>
                <% colors.forEach(color => { %>
                    <option value="<%= color %>"><%= color %></option>
                <% }) %>
            </select>
        </label><br>

       <label><b>Top Adapter</b>
            <select name="top_adapter" id="top_adapter">
                <option value="">Select</option>
                <option value="TrimSill">TrimSill</option>
                <option value="1' Sq">1' Sq</option>
                <option value="1/2&quot; Sq">1/2" Sq</option>
                <option value="None">None</option>
            </select>
        </label><br>

        <label><b>Top Adapter Color</b>
            <select name="top_adapter_color" id="top_adapter_color">
                <option value="">Select</option>
                <% colors.forEach(color => { %>
                    <option value="<%= color %>"><%= color %></option>
                <% }) %>
            </select>
        </label><br>

         <label><b>Top Adapter Width</b>
            <input type="text" name="top_adapter_width" id="top_adapter_width">
        </label><br>
        <label><b>Top Adapter Width Fraction</b>
            <select name="top_adapter_width_fraction" id="top_adapter_width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Unit Height</b>
            <input type="text" name="unit_height" id="unit_height">
        </label><br>
        <label><b>Unit Height Fraction</b>
            <select name="unit_height_fraction" id="unit_height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Pivot Pro Height</b>
            <input type="text" name="pivot_pro_height" id="pivot_pro_height">
        </label><br>
        <label><b>Pivot Pro Height Fraction</b>
            <select name="pivot_pro_height_fraction" id="pivot_pro_height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Bottom Adapter</b>
            <select name="btm_adapter" id="btm_adapter">
                <option value="">Select</option>
                <option value="Ramp Sill">Ramp Sill</option>
                <option value="Top Sill">Top Sill</option>
                <option value="Break Sill">Break Sill</option>
                <option value="2&quot; In Sill">2" In Sill</option>
                <option value="5&quot; In Sill">5" In Sill</option>
                <option value="Out Sill">Out Sill</option>
                <option value="None">None</option>
            </select>
        </label><br>

        <label><b>Bottom Adapter Color</b>
            <select name="btm_adapter_color" id="btm_adapter_color">
                <option value="">Select</option>
                <% colors.forEach(color => { %>
                    <option value="<%= color %>"><%= color %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Bottom Adapter Width</b>
            <input type="text" name="btm_adapter_width" id="btm_adapter_width">
        </label><br>
        <label><b>Bottom Adapter Width Fraction</b>
            <select name="btm_adapter_width_fraction" id="btm_adapter_width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Right Build Out</b>
            <select name="right_build_out" id="right_build_out">
                <option value="">Select</option>
                <option value="None">None</option>
                <option value="1&quot; X 2&quot; L Angle">1" X 2" L Angle</option>
                <option value="1&quot; X 3&quot; L Angle">1" X 3" L Angle</option>
                <option value="1&quot; X 2&quot; Tube">1" X 2" Tube</option>
                <option value="1&quot; X 1&quot; Sq Tube">1" X 1" Sq Tube</option>
                <option value="Custom">Custom</option>
            </select>
        </label><br>

        <label><b>Left Build Out</b>
            <select name="left_build_out" id="left_build_out">
                <option value="">Select</option>
                <option value="None">None</option>
                <option value="1&quot; X 2&quot; L Angle">1" X 2" L Angle</option>
                <option value="1&quot; X 3&quot; L Angle">1" X 3" L Angle</option>
                <option value="1&quot; X 2&quot; Tube">1" X 2" Tube</option>
                <option value="1&quot; X 1&quot; Sq Tube">1" X 1" Sq Tube</option>
                <option value="Custom">Custom</option>
            </select>
        </label><br>

         <label><b>Build Out Dimension</b>
            <input type="text" name="build_out_dimension" id="build_out_dimension">
        </label><br>
        <label><b>Build Out Dimension Fraction</b>
            <select name="build_out_dimension_fraction" id="build_out_dimension_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                    <option value="<%= fraction.measurement_name %>"><%= fraction.measurement_name %></option>
                <% }) %>
            </select>
        </label><br>

        <label><b>Mesh</b>
            <select name="mesh" id="mesh">
                <option value="">Select</option>
                <option value="BV">BV</option>
                <option value="Bug">Bug</option>
                <option value="Patio">Patio</option>
                <option value="Tuff">Tuff</option>
                <option value="Pet">Pet</option>
                <option value="SS">SS</option>
            </select>
        </label><br>

        <label><b>Mohair</b>
            <select name="mohair" id="mohair">
                <option value="">Select</option>
                <option value=".200 MoHair X.187">.200 MoHair X.187</option>
                <option value=".250 MoHair X.187">.250 MoHair X.187</option>
                <option value=".300 MoHair X.187">.300 MoHair X.187</option>
                <option value=".350 MoHair X.187">.350 MoHair X.187</option>
            </select>
        </label><br>

        <label><b>Mohair Position</b>
            <select name="mohair_position" id="mohair_position">
                <option value="">Select</option>
                <option value="Edge">Edge</option>
                <option value="Inside">Inside</option>
            </select>
        </label><br>

        <!-- bottom adapter screws have a fixed value for everything -->

        <label><b>Mohair Size</b>
            <select name="mohair_size" id="mohair_size">
                <option value="">Select</option>
                <option value=".2">.2</option>
                <option value=".25">.25</option>
                <option value=".3">.3</option>
                <option value=".35">.35</option>
            </select>
        </label><br>

         <label><b>Bumper Pads</b>
            <input type="text" name="bumper_pads" id="bumper_pads">
        </label><br>

        <label><b>Silicone Spray</b>
            <input type="text" name="silicone_spray" id="silicone_spray">
        </label><br>

        <label><b>WholeSale Price</b>
            <input type="text" name="wholesale_price" id="wholesale_price">
        </label><br>

        <label><b>Markup Mutliplier</b>
            <select name="markup_multiplier" id="markup_multiplier">
                <option value="">Select</option>
                <option value="2">2</option>
                <option value="1.9">1.9</option>
                <option value="1.8">1.8</option>
            </select>
        </label><br>

        <label><b>Retail Price</b>
            <input type="text" name="retail_price" id="retail_price">
        </label><br>

        <label><b>Custom Add-ons</b>
            <input type="text" name="custom_addons" id="custom_addons">
        </label><br>

        <label><b>PIA Obstacles Helper</b>
            <input type="text" name="pia_obstacles_helper" id="pia_obstacles_helper">
        </label><br>

        <label><b>Sold</b>
            <input type="checkbox" name="is_sold" id="is_sold">
        </label><br>

        <label><b>Date Sold</b>
            <input type="date" name="date_sold" id="date_sold">
        </label><br>

        <label><b>QC Tech and Date</b>
            <input type="text" name="qc_tech_date" id="qc_tech_date">
        </label><br>


        <button class="formbtn" type="submit">Submit</button>
         
    </div>
</form>