
<h1>Create New Window Screen Order</h1>

<form action="/orders/createNWS" method="post">
    <div class="container">
        <label><b>Quantity</b>
            <input type="text" name="quantity" id="">
        </label><br>
        <label><b>Fab</b>
            <input type="text" name="width_input" id="">
        </label><br>
        <label><b>Frame</b>
            <select name="frame_size" id="frame_size">
                <option value="">Select</option>
                <% frame_sizes.forEach(frame_size => { %>
                    <option value="<%= frame_size.size_type %>" <%= formData.frame_size === frame_size.size_type ? 'selected' : '' %>><%= frame_size.size_type %></option>
                <% }) %>
            </select>
        </label><br>
        <label><b>Color</b>
            <select name="color" id="color">
                <option value="">Select</option>
                <% colors.forEach(color => { %>
                    <option value="<%= color.color_name %>" <%= formData.color === color.color_name ? 'selected' : '' %>><%= color.color_name %></option>
                <% }) %>
            </select>
        </label><br>
        <label><b>Width</b>
            <input type="text" name="width_input" id="">
        </label><br>
        <label><b>W / F</b>
            <select name="width_fraction" id="width_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                <option value="<%= fraction.measurement_name %>"<%= formData.width_fraction === fraction.measurement_name %></option>
                <% }) %> 
            </select>
        </label><br>
        <label><b>+ / -</b>
            <select name="width_plus_minus" id="width_plus_minus">
                <option value="">Select</option>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </label><br>
        <label><b>Height</b>
            <input type="text" name="height_input" id="">
        </label><br>
        <label><b>H / F</b>
            <select name="height_fraction" id="height_fraction">
                <option value="">Select</option>
                <% fractions.forEach(fraction => { %>
                <option value="<%= fraction.measurement_name %>"<%= formData.height_fraction ===fraction.measurement_name %></option>
                <% }) %> 
            </select>
        </label><br>
        <label><b>+ / -</b>
            <select name="height_plus_minus" id="height_plus_minus">
                <option value="">Select</option>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </label><br>
        <label><b>Tab_Spring</b>
            <select name="tab_spring" id="tab_spring">
                <option value="">Select</option>
                <% springs.forEach(spring => { %>
                    <option value="<%= spring.tab_spring_name %>" <%= formData.tab_spring === spring.tab_spring_name ? 'selected' : '' %>><%= spring.tab_spring_name %></option>
                <% }) %>
            </select>
        </label><br>
        <label><b>Mesh</b>
            <select name="mesh" id="mesh">
                <option value="">Select</option>
                <% meshs.forEach(mesh => { %>
                    <option value="<%= mesh.mesh_type %>" <%= formData.mesh === mesh.mesh_type ? 'selected' : '' %>><%= mesh.mesh_type %></option>
                <% }) %>
            </select>
        </label><br>
        <label><b>Fastener</b>
            <select name="fastener" id="fastener">
                <option value="">Select</option>
                <% fasteners.forEach(fastener => { %>
                    <option value="<%= fastener.fastener_type %>" <%= formData.fastener_id === fastener.fastener_type ? 'selected' : '' %>><%= fastener.fastener_type %></option>
                <% }) %>
            </select>
        </label><br>
        <label><b>Fastener Location</b>
            <input type="text" name="fastener_location" id="">
        </label><br>
        <label><b>Notes</b>
            <input type="text" name="notes" id="">
        </label><br>

        <label><b>Order Type</b>
            <select name="order_type" id="">
                <option value="phone">Phone Order</option>
                <option value="in_person">On-Site Order</option>
            </select>
        </label><br>

        <button type="submit">Create Order</button>
    </div>
</form>